---
import projectsData from "@/data/projects.json";
---

<div class="big-container">
  <!-- div cada proyecto-->

  {
    projectsData.map((project) => {
      return (
        <>
          <a href={project.gitHub}>
            <div class="flex flex-col md:flex-row rounded-t  border-2 bg-slate-800 border-slate-600 hover:border-white">
              <div class="flex flex-col md:flex-row border-slate-600">
                <img class="img-project" src={project.img} alt="" />
                <div class="px-3 my-auto">
                  <h3 class="mb-2">{project.title}</h3>
                  <p class="mb-2">{project.text}</p>
                </div>
              </div>
            </div>
            <div class="flex p-3 flex-wrap gap-3 rounded-b border-b-2 border-r-2 border-l-2  border-slate-600">
              {project.techStack.map((tool) => {
                return (
                  <div class="rounded-md bg-slate-800 px-2 py-1 flex">
                    <small class="text-slate-300 ">{tool}</small>
                  </div>
                );
              })}
            </div>
          </a>
        </>
      );
    })
  }
</div>
<style>
  .img-project {
    @apply object-contain rounded-t sm:rounded-l sm:rounded-r-none sm:max-w-xs;
  }
</style>
