---
import projectsData from "@/data/projects.json";
---

<div class="big-container">
  <!-- div cada proyecto-->

  {
    projectsData.map((project) => {
      return (
        <>
          <a href={project.urlProject}>
            <div class="flex flex-col md:flex-row rounded-md border-2 border-slate-600 hover:border-white">
              <img class="img-project" src={project.img} alt="" />
              <div class="p-3 flex flex-col gap-2 items-center">
                <h3 class="mb-0">{project.title}</h3>
                <p>{project.text}</p>

                <div class="flex justify-center flex-wrap gap-3">
                  {project.techStack.map((tool) => {
                    return (
                      <div class="rounded-md bg-slate-700 p-1">
                        <p class="text-white">{tool}</p>
                      </div>
                    );
                  })}
                </div>
              </div>
            </div>
          </a>
        </>
      );
    })
  }
</div>
<style>
  .img-project {
    @apply object-fill rounded-t sm:rounded-l sm:max-w-xs;
  }
</style>
